body {
  background-color: #eeeeee;
  font-family: "courier new";
  text-align: center;
}
i {
  color: #555555;
  font-family: "ariel";
}
h1.header {
  color: #00eeee;
}
.header {
  color: #55cccc;
}
a {
  color: #00eeee;
  text-decoration: underline;
}
a:hover {
  color: #55ffff;
}
